.images {
  display: flex;
  gap: 50px;
}

.img-card {
  width: 250px;
}

.images img {
  width: 100%;
  height: auto;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.images img:hover {
  transform: scale(1.08);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.img-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.img-text.show {
  max-height: 200px;
}